body, html {
    height: 100%;
}
.bg_image1 {
    background-image: url("../images/shopping_centre1.jpg");
    /* Full height */
    height: 50%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg_image2 {
    background-image: url("../images/shopping_centre2.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg_image3 {
    background-image: url("../images/shopping_centre3.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron-fluid {
    margin-bottom: 0px;
}
.title {
    font-family: 'Fredericka the Great', cursive;
}